$white: #fff;
$black: #000;
$purple: #6628E5;
$green: #00B09B;
$green-line: #01B09C;
$pink: #BC00B5;
$orange: #BC5A00;
$green-light: #3CBC00;
$background-color: #13092D;
$background-page: #05001E;
$gray: #CCC;
$lilac: #4C3B7A;
$purple-light: #1D123D;
$purple-middle: #32225A;
$lilac-light: #3D2E64;
$lilac-back: #221643;
$border-dark-purple: 1px solid #2D1166;
$backgroundWidgetGreen: #03B19C;
$placeholder-purple: #4A4066;
$dark-blue: #0C0224;
$table-td-lilac: #8670AD;
$carrot: #8F81B2;

// media
$bp-tablet: 996px;
